/* oswald-regular - latin */
@font-face /* police*/
{
  font-family: 'Oswald';
  src: url('fonts/oswald-v35-latin-regular.eot'), /* IE9 Compat Modes */
       url('fonts/oswald-v35-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/oswald-v35-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/oswald-v35-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/oswald-v35-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/oswald-v35-latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}
html
{
	scroll-behavior: smooth;
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}
body
{
	font-family : "Oswald";
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-size: 100%;
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}
a
{
  outline: none;
  text-decoration: none;
  color : #E67D62;
}

.button
{
    z-index: 3;
    position: fixed;
    top: 25px;
    left: 0px;
    padding-left: 40px;
    font-size: 3vw;
	cursor: pointer;
	background-color: #1fe0;
	color: #4F5369;
	border: none;
	outline: none;
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

.button.visible
{
	left : 25%;
	transition: left 0.5s ease;
}

/* SIDEBAR */

.sidebar
{
    z-index: 2;
    background-color: #22253E;
    width: 24%;
    height: auto;
    position: fixed;
    top: 0;
    left: -24%;
    bottom: 0;
    opacity: 1;
    box-shadow: 1px 1px 1px black;
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

.sidebar.visible
{
	left : 0px;
	transition : left 0.5s ease;
}

.sommaire
{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 15px;
	left: 25px;
	height: 100%;
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}
.part
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: static;
	width: 100%;
  	list-style: none;
  	color: white;
  	font-size: 1.5vw;
}
h1
{
    color: white;
    font-size: 1.8vw;
}

li:not(.part)
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: static;
	width: 90%;
	padding-left: 20px;
  padding-top: 3px;
	font-size: 1.2vw;
}
.sommaire a
{
  	color: white;
  	text-decoration: none;
}
.sommaire a:hover
{
	color: #E6C652;
	cursor: pointer;
}
.part:hover
{
	color: #E67D62;
}
/* CORPS DE LA PAGE */

#titre
{
	display: none;
}

.portfolio {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
	font-family: Georgia, Helvetica Neue, Helvetica, sans-serif;

}

.portfolio.visible
{
	left : 24%;
	transition: left 0.5s ease;
}

#video1
{
	display: block;
	height: 100%;
	width: 100%;
	box-shadow: 0 0 5px 0 black;
	object-fit: cover;
	transition: left 0.5s ease;
}
#video2
{
	display: none;
}
.support
{
	background-color: white;
	margin: 200px;
	margin-top: 70px;
	margin-bottom: 0;
	padding-top: 35px;
}
p
{
	line-height: 1.4em;
}
.texte
{

	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-size: 1.5vw;
}
.images
{
	width: 100%;
}
.header
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 100px;
	width: 100%;
}
.header a:hover
{
	opacity: 0.6;
}
.next
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 100px;
	width: 100%;
	margin-bottom: 50px;
}
.next a:hover
{
	opacity: 0.6;
}
.arrow
{
	z-index: 1;
	position: fixed;
	bottom : 25px;
	right: 25px;
}
.arrow a:hover
{
	opacity: 0.6;
}



							@media screen and (max-width: 1360px)
							{
              .arrow
              {
                width: 10%;
              }
              .arrowimg
              {
                width : 100px;
              }
							.button
							{
							  position: fixed;
							  font-size: 10vw;
								cursor: pointer;
								background-color: #1fe0;
								color: #4F5369;
								border: none;
								outline: none;
								left: 0;

							}
              .button.visible
							{
								left: 0;
							}
							.portfolio
              {
							    position: absolute;
							    top: 0;
							    left: 0;
							    width: 100%;
							    height: 100%;
							}
							.portfolio.visible {
								left : 1500px;

							}
							    .sidebar
							    {
							    background-color: #373B53;
							    margin-left: auto;
									margin-right: auto;
									width: 100%;
									height: 100%;
									left : -1500px;
							    }
							    .sidebar.visible
							    {
							    	left : 0;
							    	transition : left 0.5s ease;
                    overflow-y: scroll;
							    }
							    .sommaire
							    {
									margin-left: auto;
									margin-right: auto;
									position: absolute;
									width: 100%;
									top : 150px;
									left: 0;
									right: 0;
									text-align: center;
							    }
							    li
							    {
							    	margin-left: auto;
							    	margin-right: auto;
							    	width: 100%;
							    }
							    .part
							    {
							    	font-size: 7vw;
							    	width: 100%;
							    }
							    li:not(.part)
							    {
							    	font-size: 5vw;
							    	width: 80%;
							    }
							    h1
							    {
							    	font-size: 8vw;
							    }
							    h2
							    {
							    	font-size: 8vw;
							    }
							    body
							    {
							    	margin: 0;
							    	padding: 0;
							    }
							    .support
								{
									background-color: white;
									margin: 50px;
									margin-top: 100px;
									padding-top: 70px;
									padding-bottom: 70px;

								}
							    .texte
								{

									text-align: justify;
									width: 100%;
									font-size: 5vw;
								}
								.header
								{
									margin-top: 300px;
								}
								#video1
								{
									display: none;
								}
								#video2
								{
									display: block;
									margin-top: 200px;
                  width: 100%;
								}
								#titre
								{
									position: fixed;
									margin-top: 50px;
									font-family: "Oswald";
									width: 100%;
									margin-left: auto;
									margin-right: auto;
									text-align: center;
									color: #4F5369;
								}
								}
